In [61]:
import pandas as pd
import re
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.keys import Keys

In [3]:
PATH = "C:\ProgramData\Microsoft\Windows\Start Menu\Programs\chromedriver.exe" # The location of the chrome driver which will ope
# allow selenium to use acess google chrome

In [63]:
driver=webdriver.Chrome(PATH)  # Giving selenium the access to google chrome.

In [64]:
driver.get("https://www.linkedin.com")

In [65]:
username =  driver.find_element_by_xpath("//*[@id=\"session_key\"]")
username.send_keys("Username")

In [66]:
password = driver.find_element_by_xpath("//*[@id=\"session_password\"]")
password.send_keys("Password")

In [67]:
driver.find_element_by_xpath("//*[@id=\"main-content\"]/section[1]/div/div/form/button").click()

In [68]:
driver.get("https://www.linkedin.com/jobs/")

In [69]:
job = driver.find_elements_by_class_name("job-card-list__title")
job_title = []
for i in job:
    job_title.append(i.text)
print(jobs)
print()
print(len(jobs))

['Part-Time Sales Associate', 'Part-Time Sales Associate', 'Part-Time Sales Associate', 'Part-Time Sales Associate', 'Work From Home Customer Service Rep', '2022 Blackbaud Internship Program', 'Data Entry Intern', 'Krispy Kreme Internship Program', 'Remote Customer Care Retention Agent', 'Part Time Admin Assistant (Remote)', 'Entry Level Customer & Sales Associate - Part Time - UC - Philly Airport job', 'Part-Time Virtual Assistant', 'SALES FLOOR ASSOCIATE', 'Sales Associate Seasonal - Gurnee, IL 60031', 'Weekday Evening Sales Associate, J.Crew Retail, Ponce City Market', 'Administrative Assistant, XD', 'Soccer, Sales Rep, NE (NY/NJ/CT)', 'Contact Center Representative (hybrid in person/remote work schedule)', 'Call Center Sales Representative - Work from Home Florida', 'Sales Associate (Excalibur)', 'Call Center Representative- iGaming', 'R&D Intern- Summer 2022', 'Call Center Sales Representative - Work from Home Georgia', 'SALES ASSOCIATE in MANTUA, NJ', 'Sales Assocaite', 'Sales Rep - Flexible Work from Home Schedules', 'Summer 2022 - Retail Data Analyst Intern', 'Member Services Rep Part Time Weekend Evening', 'Part-Time Sales Associate', 'Part-Time Sales Associate', 'Part-Time Sales Associate', 'Part-Time Sales Associate', 'Work From Home Customer Service Rep', '2022 Blackbaud Internship Program', 'Data Entry Intern', 'Krispy Kreme Internship Program', 'Remote Customer Care Retention Agent', 'Entry Level Customer & Sales Associate - Part Time - UC - Philly Airport job', 'Part-Time Virtual Assistant', 'SALES FLOOR ASSOCIATE', 'Sales Associate Seasonal - Gurnee, IL 60031', 'Weekday Evening Sales Associate, J.Crew Retail, Ponce City Market', 'Administrative Assistant, XD', 'Soccer, Sales Rep, NE (NY/NJ/CT)', 'Contact Center Representative (hybrid in person/remote work schedule)', 'Call Center Sales Representative - Work from Home Florida', 'Sales Associate (Excalibur)', 'Call Center Representative- iGaming', 'R&D Intern- Summer 2022', 'Call Center Sales Representative - Work from Home Georgia', 'SALES ASSOCIATE in MANTUA, NJ', 'Sales Assocaite', 'Scheduling Call Center Agent 1, Bethesda OP Centralized Sched, FT, 08:30A-5P', 'Sales Rep - Flexible Work from Home Schedules', 'Summer 2022 - Retail Data Analyst Intern', 'Member Services Rep Part Time Weekend Evening']

56

In [70]:
job2 = driver.find_elements_by_class_name("job-card-container__company-name")
comp_name = []
for i in job2:
    comp_name.append(i.text)
print(comp_name)
print()
print(len(comp_name))

['Johnston & Murphy', 'Johnston & Murphy', 'Johnston & Murphy', 'Journeys', 'Beam Health', 'Blackbaud', 'Krispy Kreme', 'SmileDirectClub', 'Philadelphia International Airport (PHL)', 'The Mom Project', 'Morgan Stanley', 'Dollar Tree Stores', 'J.Crew', 'Netflix', 'adidas', 'NAVIS', 'MGM Resorts International', 'Pentasia', 'Five Below', 'Revinate', 'Dollar General', 'The Michaels Companies, Inc.', 'Baptist Health South Florida', 'Vector Marketing', 'Orkin Pest Control', 'The TJX Companies, Inc.', 'PACSUN', 'Rockland Trust']

28

In [71]:
job3 = driver.find_elements_by_class_name("job-card-container__metadata-item")
loc_name = []
for i in job3:
    loc_name.append(i.text)
print(loc_name)
print()
print(len(loc_name))

['Pottstown, PA', 'On-site', 'Destin, FL', 'On-site', 'Williamsburg, VA', 'On-site', 'The Woodlands, TX', 'On-site', 'Holmdel, NJ', 'Remote', 'New Hampshire, United States', 'Remote', 'Charlotte, NC', 'On-site', 'United States', 'Remote', 'Medical, Vision, Dental, 401(k)', 'Philadelphia, PA', '1 benefit', 'Boston, MA', 'On-site', 'New York, NY', 'On-site', 'Dacula, GA', 'On-site', 'Atlanta, GA', '401(k), +1 benefit', 'Los Angeles, CA', 'New York, NY', '$46K/yr - $76K/yr (LinkedIn est.)', 'Miami, FL', 'Remote', 'Las Vegas, NV', 'On-site', '$9.30/hr - $23.20/hr (LinkedIn est.)', 'Jersey City, NJ', 'Hybrid', '$40K/yr', 'Houston, TX', 'On-site', 'Atlanta, GA', 'Remote', 'Mantua, NJ', 'Durham, NC', 'On-site', 'Miami, FL', 'On-site', '$33K/yr - $53K/yr (LinkedIn est.)', '1 benefit', 'Alexandria, VA', 'Remote', 'Atlanta, GA', 'Remote', '401(k) benefit', 'Moorestown-Lenola, NJ', 'Cherry Hill, NJ', 'On-site', 'Brockton, MA', '$40K/yr - $64K/yr (LinkedIn est.)']

59

In [80]:
col = ["Company Name", "Job Title", "Location"]
df = pd.DataFrame({"Company Name": comp_name[slice(28)], "Job Title": job_title[slice(28)], "Location": loc_name[slice(28)]})

In [81]:
df.head()

        Company Name                  Job Title          Location
0  Johnston & Murphy  Part-Time Sales Associate     Pottstown, PA
1  Johnston & Murphy  Part-Time Sales Associate           On-site
2  Johnston & Murphy  Part-Time Sales Associate        Destin, FL
3           Journeys  Part-Time Sales Associate           On-site
4        Beam Health          Data Entry Intern  Williamsburg, VA

In [75]:
df.to_csv("JobsFromLinkedinByTinbetKebede.csv")